.layout {
    background-color: #ffffff !important;
}

.content {
    background-color: #ffffff !important;
    min-height: calc(100vh - 64px);
    max-width: 1200px;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.productGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gridItem {
    /* flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px); */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
